{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": "eslint:recommended",
  "rules": {
    "valid-jsdoc": ["error", {
      "matchDescription": "^[A-Z][A-Za-z0-9\\s]*[.]$"
    }]
  }
}